<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ILGB Pass Gen</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"> <!-- Linking the external CSS file -->
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}"> <!-- Linking the favicon.ico -->
</head>
<body>
    <div>
        <h1>ILGB Password Generator</h1>
        <form method="POST" action="{{ url_for('index') }}">
            <label for="length">Password Length:</label>
            <input type="number" name="length" min="6" max="32" value="12" required>
            <button type="submit">Generate Password</button>
        </form>
        
        {% if password %}
        <div>
            <h2>Your Generated Password:</h2>
            <p>{{ password }}</p>
        </div>
        {% endif %}
    </div>
</body>
</html>
